@use "./_fonts.scss";
@use "./_colours.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "avenir-reg";
}

// min-max widths for media querries:

$mobile: 767px;
$tablet: 768px;
$desktop: 1280px;

// api-key:

$api-key: "0f383f02-d3bd-4c8d-9bee-b53825c23122";
