@font-face {
  font-family: "avenir-reg";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "avenir-bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "avenir-demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "avenir-reg";
}

.page-header,
.section-header {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  font-family: "avenir-bold";
  padding: 1.5rem 1rem 1rem 1rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  align-content: center;
  min-width: 100vw;
}
.navbar__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 0 auto;
  padding: 1rem 0;
  justify-self: flex-start;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
}
.navbar__list-item {
  list-style: none;
  padding: 1rem;
  display: flex;
  align-content: center;
}
.navbar__list-item--active {
  border-bottom: 0.25rem solid #ffffff;
  font-family: "avenir-bold";
  padding-left: 2.75rem;
  padding-right: 3rem;
}
.navbar__list-item--inactive {
  padding-right: 3.75rem;
}
.navbar__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875rem;
}
.navbar__link--inactive {
  text-decoration: none;
  color: #e1e1e1;
}

.hero {
  position: relative;
}
.hero__text {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  font-family: "avenir-bold";
  padding: 1.5rem 1rem 1rem 1rem;
  position: absolute;
  top: 4rem;
  bottom: 5rem;
  color: #ffffff;
}
.hero__image {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 100vw;
  min-height: 12rem;
  position: relative;
}
.hero__image--overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.about {
  display: flex;
  flex-direction: column;
  position: relative;
}
.about__quote {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-bold";
  padding: 0.25rem 1rem;
}
.about__image {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0 1rem;
}

.bio-card {
  display: flex;
  flex-direction: column;
  position: relative;
}
.bio-card__sub-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "avenir-demi";
  text-align: left;
  padding: 1.5rem 1rem 1rem 1rem;
}
.bio-card__description {
  display: flex;
  flex-direction: column;
}
.bio-card__description--text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
  text-align: left;
  padding: 0 1rem 1rem 1rem;
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  background: #e1e1e1;
}
.photo-gallery__image {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0 1rem 1rem 1rem;
}/*# sourceMappingURL=bio.css.map */