@use "../styles/partials/_global" as *;
@use "../styles/partials/fonts.css" as *;
@use "../styles/partials/colours.css" as *;

.navbar {
  display: flex;
  flex-direction: column;
  background-color: $bandsite-black;
  align-content: center;

  &__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin: 0 auto;
    padding: 1rem 0;
    justify-self: flex-start;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }

  &__list-item {
    list-style: none;
    padding: 1rem;
    display: flex;
    align-content: center;

    &--active {
      border-bottom: 0.25rem solid $white;
      font-weight: 700;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &--inactive {
      padding-right: 3.5rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
    font-size: 0.875rem;

    &--inactive {
      text-decoration: none;
      color: $mercury;
    }
  }
}
