@use "./partials/_global" as *;
@use "./partials/_fonts.scss" as *;
@use "./partials/_colours.scss" as *;

.navbar {
  display: flex;
  flex-direction: column;
  background-color: $bandsite-black;
  align-content: center;
  min-width: 100vw;

  &__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin: 0 auto;
    padding: 1rem 0;
    justify-self: flex-start;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }

  &__list-item {
    list-style: none;
    padding: 1rem;
    display: flex;
    align-content: center;

    &--active {
      border-bottom: 0.25rem solid $white;
      font-family: "avenir-bold";
      padding-left: 2.75rem;
      padding-right: 3rem;
    }

    &--inactive {
      padding-right: 3.75rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
    font-size: 0.875rem;

    &--inactive {
      text-decoration: none;
      color: $mercury;
    }
  }
}

.hero {
  position: relative;

  &__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 1rem;
    top: 5rem;
    bottom: 4rem;
    color: $white;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "avenir-bold";
  }

  &__image {
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100vw;
    min-height: 12rem;
    position: relative;
  }
}

.image-overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
