@font-face {
  font-family: "avenir-reg";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "avenir-bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "avenir-demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "avenir-reg";
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  align-content: center;
  min-width: 100vw;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    padding-left: 5rem;
  }
}
.navbar__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 0 auto;
  padding: 1rem 0;
  justify-self: flex-start;
}
@media screen and (min-width: 768px) {
  .navbar__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    align-self: center center;
    margin: auto 0;
    padding: 1rem 2.25rem 2rem 2.25rem;
  }
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .navbar__list {
    justify-content: space-around;
    padding-left: 4rem;
  }
}
.navbar__list-item {
  list-style: none;
  padding: 1rem;
  display: flex;
  align-content: center;
}
.navbar__list-item:hover {
  color: #e1e1e1;
  filter: brightness(300%);
  border-bottom: 0.25rem solid #000000;
}
.navbar__list-item--active {
  border-bottom: 0.25rem solid #ffffff;
  font-family: "avenir-bold";
  padding-left: 4rem;
  padding-right: 3.25rem;
  margin-right: 0.25rem;
}
@media screen and (min-width: 768px) {
  .navbar__list-item--active {
    border-bottom: 0.25rem solid #ffffff;
    font-family: "avenir-bold";
    padding: 1rem 0 1.5rem 0;
  }
}
.navbar__list-item--inactive {
  padding-right: 3.75rem;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .navbar__list-item--inactive {
    padding: 1rem 1rem 1.5rem 1rem;
  }
}
.navbar__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875rem;
}
.navbar__link--inactive {
  text-decoration: none;
  color: #e1e1e1;
}

.hero {
  position: relative;
}
.hero__text {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  font-family: "avenir-bold";
  position: absolute;
  top: 2rem;
  color: #ffffff;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: "avenir-bold";
    text-align: left;
    padding: 2.25rem;
    top: 10rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    left: 5rem;
    top: 12rem;
  }
}
.hero__text--album-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "avenir-demi";
  text-align: left;
  color: #ffffff;
  padding: 1.5rem 1rem 1rem 1rem;
}
.hero__image {
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100vw;
  height: 17rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__image {
    height: 60vh;
    max-width: 100vw;
  }
}
.hero__image--overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero__sound {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  max-width: 100%;
  min-height: 20%;
}
.hero__sound-container {
  position: absolute;
  padding: 0 1rem;
  bottom: 1rem;
}

.shows-section {
  display: flex;
  flex-direction: column;
}
.shows-section__header {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  font-family: "avenir-bold";
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .shows-section__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "avenir-reg";
    font-weight: 700;
    text-align: left;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}

.show-table {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .show-table {
    padding: 1rem;
  }
}
.show-table__row {
  display: flex;
  flex-direction: column;
  border-bottom: 0.0625rem solid #afafaf;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .show-table__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0.25rem 1rem;
    text-align: left;
  }
}
.show-table__subheader {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .show-table__subheader {
    display: flex;
    flex-direction: row;
    padding: 0 2.25rem 1rem 1.25rem;
  }
}
.show-table__subheader--text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
  text-align: left;
  color: #afafaf;
  padding: 0.5rem 0.25rem;
}
@media screen and (min-width: 768px) {
  .show-table__subheader--text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-reg";
    text-align: left;
    margin-right: 9rem;
    font-family: "avenir-demi";
  }
}
.show-table__content {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
  text-align: left;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .show-table__content {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-reg";
    text-align: left;
  }
}
.show-table__content--dates {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
  text-align: left;
  font-family: "avenir-demi";
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .show-table__content--dates {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-reg";
    text-align: left;
  }
}
.show-table__button {
  font-family: "avenir-demi";
  background: #323232;
  color: #ffffff;
  border: none;
  padding: 1rem;
  text-align: center;
  border-radius: 0.25rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .show-table__button {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-reg";
    text-align: left;
    align-self: center;
    justify-self: center;
    margin: 0;
  }
}

.footer {
  background: #323232;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 0 8rem;
  }
}

.social {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
@media screen and (min-width: 768px) {
  .social {
    display: flex;
    flex-direction: row;
  }
}
.social__header {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  font-family: "avenir-bold";
  color: #ffffff;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .social__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "avenir-reg";
    font-weight: 700;
    text-align: left;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .social__header {
    padding: 3rem 2.25rem 2.25rem 0.5rem;
  }
}
.social__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #323232;
}
@media screen and (min-width: 768px) {
  .social__wrapper {
    align-content: flex-end;
  }
}
.social__icons {
  background: #323232;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .social__icons {
    padding-top: 4rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 1.5rem 2.25rem 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    padding: 0 0.75rem 1rem 0.75rem;
    justify-content: flex-start;
  }
}
.contact__info {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__info {
    justify-content: space-evenly;
    padding-left: 0rem;
    width: 30vw;
  }
}
@media screen and (min-width: 1280px) {
  .contact__info {
    justify-content: flex-start;
    width: 20vw;
  }
}
.contact__info--name {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
  text-align: left;
  font-family: "avenir-demi";
  color: #ffffff;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .contact__info--name {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "avenir-reg";
    text-align: left;
    font-family: "avenir-demi";
  }
}
.contact__info--address {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
  text-align: left;
  padding: 0.5rem 0;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .contact__info--address {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "avenir-reg";
    text-align: left;
  }
}

.copy-right {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 2rem 1rem;
}
@media screen and (min-width: 768px) {
  .copy-right {
    padding-top: 0;
    padding-bottom: 2.25rem;
  }
}
.copy-right__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .copy-right__logo {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .copy-right__logo {
    right: 8.5rem;
  }
}
.copy-right__text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
  text-align: left;
  color: #ffffff;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .copy-right__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "avenir-reg";
    text-align: left;
    padding-left: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .copy-right__text {
    padding-left: 0rem;
  }
}/*# sourceMappingURL=show.css.map */